@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Đăng nhập";
}

<div class="content_top col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="heading">
        <h3>@ViewData["TitleContent"]</h3>
    </div>
    <div class="clear"></div>
</div>
<div class="content_middle col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <div class="col-md-8">
            <section>
                <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">

                    <div class="form-group">
                        <div class="col-md-10">
                            <span class="text-danger">
                                @Html.ValidationMessage(MsgCst.MsgLogin)
                        </span>
                    </div>
                </div>                        <div class="form-group">
                    <label asp-for="Email" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="col-md-2 control-label">Mật khẩu</label>
                    <div class="col-md-10">
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label asp-for="RememberMe">
                                <input asp-for="RememberMe" />
                                @Html.DisplayNameFor(m => m.RememberMe)
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-default">Đăng nhập</button>                     
                    </div>      
                    <p class="margin-top-10">
                        <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Tạo tài khoản</a>
                    </p>
                    <p class="margin-top-10">
                        <a asp-action="ForgotPassword">Quên mật khẩu</a>
                    </p>
                </div>      
            </form>
        </section>
    </div>
    <div class="col-md-4 margin-top-10">
        <section>
            <h4>Sử dụng tài khoản mạng xã hội.</h4>
            <hr />
            @{
                var loginProviders = SignInManager.GetExternalAuthenticationSchemes().ToList();
                if (loginProviders.Count == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in loginProviders)
                                {
                                    if (provider.AuthenticationScheme == "Facebook")
                                    {
                                        <button type="submit" class="btn btn-facebook" style="width:45%" name="provider" value="@provider.AuthenticationScheme" title="Log in using your @provider.DisplayName account"><i class="fa fa-facebook-f pull-left" style="margin-top: 3px;"></i>Facebook</button>
                                    }
                                    if (provider.AuthenticationScheme == "Google")
                                    {
                                        <button type="submit" class="btn btn-google" style="width:45%" name="provider" value="@provider.AuthenticationScheme" title="Log in using your @provider.DisplayName account"><i class="fa fa-google-plus  pull-left" style="margin-top: 3px;"></i>Google</button>
                                    }

                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>
</div>
